{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Liste des tests</title>
  </head>

  <body>
    {% if exams %}
    <h2>Liste des tests disponibles pour {{ user }}</h2>
    <ul>
      {% for exam in exams %}
      <li><a href="{{ exam.get_absolute_url }}">{{ exam }}</a></li>
      {% endfor %}    
    </ul>
    {% else %}
      <h2>Pas de test disponible pour {{ user }} en ce moment</h2>
    {% endif %}
    
    <a href="{% url 'accounts:home' %}">Retour à l'accueil</a>

  </body>

</html>
