{% extends 'base.html' %}

{% block question %}
  <h1>{{ question.short_name }}</h1>
  <p>{{ question.states|safe }}</p>
{% endblock %}

{% block xml %}
  {{ question.toolbox|safe }}
  {{ question.workspace|safe }}
{% endblock %}


{% block answer %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="répondre">
  </form>
  <script>
  function myUpdateFunction(event) {
    var xml = Blockly.Xml.workspaceToDom(workspace)
    var txt = Blockly.Xml.domToPrettyText(xml)
    document.getElementById('answer').value = txt;
  }
  workspace.addChangeListener(myUpdateFunction);  
  </script>
{% endblock %}

